<div class="space">
  <div class="space__container">
    <div class="space__header">
      <h3 class="space__label">GALERIA</h3>
      <h2 class="space__title">
        Nossa <span class="space__title--emphasis">Galeria</span>
      </h2>
    </div>
    <div class="space__gallery">
      <div class="space__card">
        <img class="space__image" src="/images/spaces/space-02.png" alt="" />
        <div class="space__info">
          <h2 class="space__info-title">Sala Adulto 1</h2>
          <p class="space__info-description">
            Espaço terapêutico voltado ao acolhimento e escuta em atendimentos
            individuais.
          </p>
        </div>
      </div>
      <div class="space__card">
        <img class="space__image" src="/images/spaces/space-06.png" alt="" />
        <div class="space__info">
          <h2 class="space__info-title">Sala Coletiva</h2>
          <p class="space__info-description">
            Espaço coletivo para grupos, pensado para favorecer o diálogo e a
            escuta ativa.
          </p>
        </div>
      </div>
      <div class="space__card">
        <img class="space__image" src="/images/spaces/space-05.png" alt="" />
        <div class="space__info">
          <h2 class="space__info-title">Acesso Principal</h2>
          <p class="space__info-description">
            Já na entrada, um ambiente acolhedor que inspira cuidado, respeito e confiança.
          </p>
        </div>
      </div>
      <div class="space__card">
        <img class="space__image" src="/images/spaces/space-01.png" alt="" />
        <div class="space__info">
          <h2 class="space__info-title">Sala Infantil</h2>
          <p class="space__info-description">
            Ambiente lúdico e seguro, planejado para terapias com crianças
            pequenas.
          </p>
        </div>
      </div>
      <div class="space__card">
        <img class="space__image" src="/images/spaces/space-03.png" alt="" />
        <div class="space__info">
          <h2 class="space__info-title">Sala Adulto 2</h2>
          <p class="space__info-description">
            Espaço terapêutico também voltado para atendimentos individuais.
          </p>
        </div>
      </div>
      <div class="space__card">
        <img class="space__image" src="/images/spaces/space-04.png" alt="" />
        <div class="space__info">
          <h2 class="space__info-title">Recepção</h2>
          <p class="space__info-description">
            Um ambiente sereno e organizado que acolhe antes das sessões
            terapêuticas.
          </p>
        </div>
      </div>
    </div>

    <div class="space__footer"></div>
  </div>
</div>
