@use 'abstracts/buttons' as buttons;

.service {
  user-select: none;
  background-color: #fefbf9;
  box-sizing: border-box;
  border-radius: 24px;
  max-width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  align-items: start;
  min-width: 300px;
  height: 270px;

  transition: transform 0.5s ease;
  will-change: transform;

  &:hover{
    transform: translateY(-9px);
  }

  &__title {
    font-weight: 600;
    font-size: 28px;
    padding: 0;
    margin: 0;
    color: #ed6633;
    @media (max-width: 1399px) {
      font-size: 24px;
    }
    @media (max-width: 991px) {
      font-size: 22px;
    }
    @media (max-width: 767px) {
      font-size: 28px;
    }
    @media (max-width: 375px) {
      font-size: 24px;
    }
  }
  &__description {
    color: #ed6633;
    font-weight: 500;
    font-size: 18px;
    height: 100%;
    padding: 0;
    margin: 0;
    @media (max-width: 1399px) {
      font-size: 16px;
    }
    @media (max-width: 991px) {
      font-size: 18px;
    }
    @media (max-width: 375px) {
      font-size: 16px;
    }
  }
  &__subtitle {
    cursor: pointer;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: #ed6633;
  }
}
