@use 'abstracts/containers' as containers;

.footer {
  background-color: #f0e9e3;
  &__container {
    height: 100%;
    box-sizing: border-box;
    @include containers.container();
  }
  &__section {
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  }
  &__top {
    height: 100px;
  }
  &__body {
    height: 100px;
  }
  &__bottom {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__copyright,
  &__credits {
    font-weight: 460;
    color: #076c68;
    padding: 0;
    margin: 0;
  }
  &__developer {
    color: #076c68;
    text-decoration: none;
    font-weight: 460;
  }
  &__brand {
    color: #ff8055;
    font-weight: 550;
  }
}
