<footer class="footer">
  <!--Top-->
  <!--Middle-->
  <div class="footer__section">
    <div class="footer__container">
      <div class="footer__middle">
        <!--Desktop-->
        <ng-container *ngFor="let column of columns; let i = index">
          <div class="footer__column" *ngIf="!isMobile || i === 0">
            <h2 class="footer__title">{{ column.title }}</h2>
            <ng-container *ngIf="column.description">
              <p class="footer__text footer__text--info">
                {{ column.description }}
              </p>
            </ng-container>
            <ul
              class="footer__list"
              [ngClass]="
                column.listStyle ? 'footer__list--' + column.listStyle : ''
              "
            >
              <li class="footer__list-item" *ngFor="let item of column.items">
                <ng-container [ngSwitch]="item.type">
                  <a
                    *ngSwitchCase="'link'"
                    class="footer__link"
                    [href]="item.href"
                  >
                    {{ item.text }}
                  </a>
                  <img
                    *ngSwitchCase="'image'"
                    [src]="item.src"
                    [alt]="item.alt || ''"
                  />
                  <ng-container *ngSwitchCase="'text'">
                    {{ item.text }}
                  </ng-container>
                </ng-container>
              </li>
            </ul>
          </div>
        </ng-container>
        <!--Mobile-->
        <ng-container *ngFor="let column of columns; let i = index">
          <app-accordion class="accordion" *ngIf="isMobile && i !== 0">
            <ng-container accordion-header>
              <h2>{{ column.title }}</h2>
              <img src="images/icons/arrow.svg" alt="" />
            </ng-container>

            <ng-container accordion-body>
              <li class="footer__list-item" *ngFor="let item of column.items">
                <ng-container [ngSwitch]="item.type">
                  <a
                    *ngSwitchCase="'link'"
                    class="footer__link"
                    [href]="item.href"
                  >
                    {{ item.text }}
                  </a>
                  <img
                    *ngSwitchCase="'image'"
                    [src]="item.src"
                    [alt]="item.alt || ''"
                  />
                  <ng-container *ngSwitchCase="'text'">
                    {{ item.text }}
                  </ng-container>
                </ng-container>
              </li>
            </ng-container>
          </app-accordion>
        </ng-container>
      </div>
    </div>
  </div>
  <!--Bottom-->
  <div class="footer__section">
    <div class="footer__container">
      <div class="footer__bottom">
        <p class="footer__text">
          Copyright © 2024
          <span class="footer__text--emphasis">Clínica Abertamente</span>. Todos
          os direitos reservados.
        </p>
        <p class="footer__text">
          Desenvolvido por
          <a class="footer__link" href="#" target="_blank">gCavalho.</a>
        </p>
      </div>
    </div>
  </div>
</footer>
