.stepper {
  &__step {
    display: flex;
    flex-direction: row;
    gap: 40px;
    box-sizing: border-box;
    padding-left: 200px;
    padding-right: 200px;
    @media (max-width: 1199px) {
      padding-left: 100px;
      padding-right: 100px;
    }
    @media (max-width: 991px) {
      padding-left: 25px;
      padding-right: 25px;
    }
    @media (max-width: 767px) {
      padding-left: 0;
      padding-right: 0;
      gap: 20px;
    }
  }

  &__indicator {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    //background-color: hotpink;
  }

  .stepper__circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #076c68;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      background-color: #ff8055;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition:
        width 0.4s ease-in-out,
        height 0.4s ease-in-out,
        transform 0.4s ease-in-out;
    }

    &.active::before {
      width: 105%;
      height: 105%;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__line {
    height: 100%;
    min-height: 280px;
    width: 6px;
    background-color: #076c68;
    @media (max-width: 991px) {
      min-height: 300px;
    }
    @media (max-width: 767px) {
      min-height: 350px;
    }

    &--final {
      display: none;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 28px;
    color: #076c68;
    @media (max-width: 767px) {
      font-size: 22px;
    }
    @media (max-width: 452px) {
      font-size: 18px;
    }
  }

  &__description {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 430;
    color: #076c68;
    @media (max-width: 452px) {
      font-size: 16px;
    }
  }
}
