:host {
  --gap-steps: 100px;
  --gap-step: 5px;
  --circle-size: 32px;
  --circle-border: 5px;
  --line-width: 5px;
  --line-color: #1b655a;
  --circle-border-color: #ef7445;
  --circle-bg: #ffffff;
  --text-indent: 60px;
}

.stepper {
  display: flex;

  &-vertical {
    flex-direction: column;
  }
  &-horizontal {
    flex-direction: row;
  }

  &__step {
    padding-left: var(--text-indent);
    gap: var(--gap-step);
    padding-bottom: var(--gap-steps);
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    // Linha vertical
    &::after {
      top: var(--circle-size);
      left: calc((var(--circle-size) / 2) - (var(--line-width) / 2));
      min-height: 100%;
      width: var(--line-width);
      background-color: var(--line-color);
      position: absolute;
      content: '';
      &:last-child {
        display: none;
      }
    }

    // Círculo
    &::before {
      width: var(--circle-size);
      height: var(--circle-size);
      background-color: var(--circle-bg);
      border: var(--circle-border) solid var(--circle-border-color);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      box-sizing: border-box;
    }

    &:last-child {
      padding-bottom: 0;
    }
    &:last-child::after {
      display: none;
    }
  }

  &__title {
    margin: 0;
    font-size: 20px;

    @media (max-width: 767px) {
      font-size: 22px;
    }

    @media (max-width: 452px) {
      font-size: 18px;
    }
  }

  &__description {
    margin: 0;
    font-size: 16px;
    font-weight: 430;

    @media (max-width: 452px) {
      font-size: 16px;
    }
  }
}
