.stepper {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  &__step {
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35px;
    margin-left: 20px;
    margin-right: 20px;
    @media (max-width: 504px) {
      width: 28px;
      margin-left: 12px;
      margin-right: 12px;
    }
    &-circle {
      box-sizing: border-box;
      border: 5px solid #ef7445;
      min-height: 35px;
      min-width: 35px;
      max-height: 35px;
      max-width: 35px;
      background-color: white;
      color: white;
      border-radius: 50%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      @media (max-width: 504px) {
        border-width: 4px;
        min-height: 28px;
        min-width: 28px;
        max-height: 28px;
        max-width: 28px;
      }
    }
    &-line {
      width: 5px;
      height: 100%;
      min-height: 100px;
      background-color: #1b655a;
      @media (max-width: 504px) {
        width: 4px;
      }
    }
  }

  &__text-container {
    width: 100%;
    //background: bisque;
    padding-bottom: 35px;
    box-sizing: border-box;
  }

  &__title {
    margin: 0 0 10px;
    font-size: 23px;
    font-weight: 600;
    @media (max-width: 431px) {
      font-size: 18px;
    }
    &--end {
      text-align: end;
    }
  }

  &__description {
    margin: 0;
    font-size: 18px;
    max-width: 400px;
    //background-color: #a5c3bf;
    @media (max-width: 431px) {
      font-size: 14px;
    }
    &--end {
      text-align: end;
      float: right;
    }
  }

  &__image {
    width: 450px;
    max-width: 100%;
    height: auto;
    &-container {
      padding-bottom: 35px;
      box-sizing: border-box;
      width: 100%;
      //background-color: pink;
    }
    &--end {
      float: right;
    }
  }
}
