<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__content">
      <div class="hero__text">
        <h1 class="hero__title">
          Redescubra a sí mesmo com
          <span class="hero__emphasis">cuidado</span> especializado
        </h1>
        <p class="hero__description">
          Estamos aqui para ouvir você, oferecer apoio e ajudar a construir o
          equilíbrio emocional que transforma vidas.
        </p>
        <div class="hero__buttons">
          <button class="hero__button hero__button--primary">
            Vamos conversar
          </button>
          <button class="hero__button hero__button--secondary">
            Nossa metodologia
          </button>
        </div>
      </div>
      <div class="hero__photo">
        <img class="hero__image" src="/hero.webp" alt="" />
      </div>
    </div>
  </div>
</section>
