<section class="hero">
  <div class="hero__container">
    <div class="hero__content">
      <div class="hero__left">
        <h1 class="hero__title">
          Great futures are built with a
          <span class="hero__emph-primary">small charity</span>
        </h1>
        <p class="hero__paragraph">
          The world's largest social fundraising platform, optimized for your
          <span class="hero__emph-secondary">charity</span> in a
          more easy way
        </p>
        <div class="hero__buttons">
          <button class="hero__button hero__button--primary">Donate now</button>
          <button class="hero__button hero__button--secondary">
            Watch video
          </button>
        </div>
      </div>
      <div class="hero__right">
        <img class="hero__image" src="/images/hero3.png" alt="" />
      </div>
    </div>
  </div>
</section>
