@use 'abstracts/container' as container;

.hero {
  width: 100%;
  min-height: 672px;
  box-sizing: border-box;
  padding-top: 129px;
  padding-bottom: 161px;
  @media (max-width: 991px) {
    padding-top: 49px;
    padding-bottom: 468px;
  }
  @include container.container();
  &__container {
    width: 100%;
    height: 672px;
    border-radius: 24px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding-left: 66px;
    padding-right: 66px;
    gap: 66px;
    @media (max-width: 1400px) {
      padding: 44px;
      gap: 41px;
    }
    @media (max-width: 991px) {
      flex-direction: column;
      padding: 44px;
      gap: 41px;
    }
    @media (max-width: 479px) {
      flex-direction: column;
      gap: 12px;
      padding: 24px;
    }
  }
  &__text {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &__image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    width: 100%;
    min-height: 70px;
    max-height: 772px;
    position: relative;
    @media (max-width: 991px) {
      max-height: 542px;
    }
    @media (max-width: 768px) {
      max-height: 542px;
    }
    @media (max-width: 480px) {
      max-height: 542px;
    }
  }
  &__image {
    border-radius: 24px;
    background-color: #076c68;
    width: 100%;
    height: 772px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    object-fit: cover;
    position: absolute;
    @media (max-width: 991px) {
      transform: none;
      top: 0;
      height: 542px;
    }
    @media (max-width: 768px) {
      height: 500px;
    }
    @media (max-width: 480px) {
      height: 450px;
    }
  }

  &__title {
    color: #076c68;
    font-size: 64px;
    margin: 0;
    padding: 0;
    text-align: start;
    font-weight: 600;
    @media (max-width: 991px) {
      font-size: 56px;
      text-align: center;
    }
    @media (max-width: 767px) {
      font-size: 48px;
    }
    @media (max-width: 479px) {
      font-size: 38px;
    }
    &--emphasis {
      color: #f37355;
    }
  }
  &__description {
    color: #076c68;
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-align: start;
    @media (max-width: 991px) {
      text-align: center;
    }
    @media (max-width: 479px) {
      font-size: 22px;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    @media (max-width: 991px) {
      justify-content: center;
    }
    @media (max-width: 479px) {
      flex-direction: column;
    }
  }
  &__button {
    font-size: 18px;
    height: 54px;
    border: none;
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
    transition: background-color 0.3s ease-in-out;
    &--primary {
      background-color: #f37355;
      color: white;
      &:hover {
        background-color: #d95e42;
      }
      &:active {
        background-color: #c8523a;
      }
    }
    &--secondary {
      background-color: white;
      color: #f37355;
      &:hover {
        background-color: #EDD7D3BA
      }
      &:active {
        background-color: #E4C0BBBA
      }
    }
  }
}
