<section class="hero">
  <div class="hero__grid">
    <div class="hero__content">
      <div class="hero__content--left">
        <h1 class="hero__title">
          Boost your business through online marketing
        </h1>
        <p class="hero__description">
          Hey there! I’m Jessica Parker. Digital business consultant focussed on
          online marketing and advertising.
        </p>
        <div class="hero__buttons">
          <button class="hero__button hero__button--primary">Let's talk</button>
          <button class="hero__button hero__button--secondary">
            See case studides
          </button>
        </div>
      </div>
      <div class="hero__content--right">
        <img class="hero__image" src="/hero.webp" alt="" />
      </div>
    </div>
  </div>
</section>
