@use 'abstracts/buttons' as buttons;
@use 'abstracts/containers' as containers;

.hero {
  padding-top: 53px;
  //padding-bottom: 53px;
  background-color: #fefbf9;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    @include containers.container();
  }
  &__content {
    text-align: start;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 650px;
  }
  &__title {
    margin: 0;
    padding: 0;
    font-size: 64px;
    font-weight: 600;
  }
  &__paragraph {
    margin: 0;
    font-size: 24px;
    padding: 0 0 0 10px;
    border-left: 4px solid #1d6a5f;
    font-weight: 420;
  }
  &__emph-secondary {
    color: #1d6a5f;
    font-weight: 550;
  }
  &__emph-primary {
    color: #ef7445;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 15px;
  }
  &__button {
    @include buttons.button();
    &--primary {
      @include buttons.button-variant(
        $bg-color: #ef7445,
        $text-color: #ffffff,
        $hover-bg: #d85b2c,
        $active-bg: #e66737,
        $font-weight: 500
      );
    }

    &--secondary {
      text-shadow: 0 0 0.8px rgba(0, 0, 0, 0.4);
      @include buttons.button-variant(
        $bg-color: #1d6a5f,
        $text-color: #ffffff,
        $hover-bg: #1b655a,
        $active-bg: #196158,
        $font-weight: 500
      );
    }
  }
  &__image {
    width: 400px;
    height: auto;
  }
}
