<div class="gallery">
  <div class="gallery__row">
    <div class="gallery__col">
      <div class="gallery__element">
        <img class="gallery__photo" [src]="image1.src" [alt]="image1.alt" />
      </div>
      <div class="gallery__row">
        <div class="gallery__element">
          <img class="gallery__photo" [src]="image2.src" [alt]="image2.alt" />
        </div>
        <div class="gallery__element">
          <img class="gallery__photo" [src]="image3.src" [alt]="image3.alt" />
        </div>
      </div>
    </div>
    <div class="gallery__row">
      <div class="gallery__element gallery__element--h-100">
        <img class="gallery__photo" [src]="image4.src" [alt]="image4.alt" />
      </div>
      <div class="gallery__col">
        <div class="gallery__element">
          <img class="gallery__photo" [src]="image5.src" [alt]="image5.alt" />
        </div>
        <div class="gallery__element">
          <img class="gallery__photo" [src]="image6.src" [alt]="image6.alt" />
        </div>
      </div>
    </div>
  </div>
</div>

