@use 'abstracts/buttons' as buttons;
@use 'abstracts/containers' as containers;

.header {
  height: 81px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff;
  border-bottom: 2px solid #ececec;
  &__nav {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    @include containers.container();
  }
  &__list {
    //border-bottom: 2px solid #ececec;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__item {
    position: relative;
    &-indicator{
      background-color: #ef7445;
      width: 100%;
      height: 4px;
      border-radius: 6px;
      position: absolute;
      bottom: -6px;
    }
    &--left {
      position: absolute;
      left: 0;
    }
    &--right {
      position: absolute;
      right: 0;
    }
  }
  &__link {
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    color: inherit;
    &--emphasis {
      @include buttons.button(
        $height: 44px,
        $padding: 0 19px,
        $font-size: 16px
      );
      @include buttons.button-variant(
        $bg-color: #ef7445,
        $text-color: #ffffff,
        $hover-bg: #1b655a,
        $active-bg: #196158,
        $font-weight: 500
      );
    }
  }
}
