<header class="header">
  <nav class="header__nav" role="navigation">
    <img class="header__logo" src="" alt="Logo" />
    <ul class="header__list">
      <ng-container *ngFor="let item of items; let i = index">
        <li
          class="header__item"
          [class.header__item--emphasis]="i === 6"
          *ngIf="!isMobile || i === 6"
        >
          <a
            href="#"
            class="header__link"
            [class.header__link--logo]="i === 0"
            [class.header__link--emphasis]="i === 6"
            (click)="i !== 6 ? selectMenu(i) : null"
          >
            {{ item.name }}
          </a>
          <span *ngIf="i === 0" class="header__indicator"></span>
        </li>
      </ng-container>
    </ul>
    <app-toggle-button
      *ngIf="isMobile"
      [isDrawerActive]="isDrawerActive"
      (click)="toggleButton()"
    ></app-toggle-button>
  </nav>
</header>
