@use 'abstracts/container' as container;
.header {
  height: 71px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #f0ebe5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
  &__nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    @include container.container();
  }
  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 26px;
    padding: 0;
    margin: 0;
    justify-content: right;
    align-items: center;
    position: relative;
  }
  &__item {
    padding: 0;
    margin: 0;
    &--left {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &--emphasis {
      box-sizing: border-box;
      padding-left: 12px;
      padding-right: 12px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 40px;
      background-color: #076c68;
    }
  }
  &__link {
    text-decoration: none;
    color: #076c68;
    font-weight: 500;
    &--emphasis {
      color: white;
    }
  }
  &__toggle {
    box-sizing: border-box;
    padding: 8px;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    background-color: #f0ebe5;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.1);
    &--active {
      //background-color: #076c68;
    }
    &:focus{
      outline: none;
    }
  }
  &__line {
    border-radius: 8px;
    background-color: #076c68;
    height: 3px;
    transition:
      width 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
    &--active {
      //background-color: white;
    }
    &--w100 {
      width: 100%;
    }
    &--w50 {
      width: 50%;
    }
  }
}
