@use '../../../styles/abstracts/buttons' as buttons;
@use '../../../styles/abstracts/containers' as containers;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 81px;
  z-index: 100;
  box-sizing: border-box;
  background-color: white;
  //border-bottom: 1px solid #ede9e1;
  &__nav {
    position: relative;
    background-color: white;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    @include containers.container();
  }
  &__list {
    //border-bottom: 1.5px solid #f1f0ee;
    //box-sizing: border-box; //desativado por causa da borda
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__item {
    box-sizing: border-box;
    position: relative;
    &--left {
      position: absolute;
      left: 0;
    }
    &--right {
      position: absolute;
      right: 0;
    }
    &--emphasis {
      @include buttons.button(
        $height: 44px,
        $padding: 0 19px,
        $font-size: 16px
      );
      @include buttons.button-variant(
        $bg-color: white,
        $text-color: #ef7445,
        $hover-bg: rgba(239, 116, 69, 0.08),
        $active-bg: rgba(239, 116, 69, 0.16),
        $font-weight: 500,
        $border: 1px solid #ef7445
      );
      &__link {
        color: white;
      }
    }
  }
  &__link {
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    outline: none;
  }
  &__indicator {
    position: absolute;
    left: 0;
    bottom: -6px;
    box-sizing: border-box;
    background-color: #ef7445;
    width: 100%;
    min-height: 4px;
    max-height: 4px;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out;
    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
}
