<header class="header">
  <nav class="header__nav">
    <!--DESKTOP MODE-->
    <ul class="header__list" *ngIf="!isMobile">
      <li class="header__item header__item--left">
        <a class="header__link" href="#">
          <img src="images/Logo.png" [alt]="logo.alt" style="width: 85px" />
        </a>
      </li>
      <li *ngFor="let item of items; let i = index" class="header__item">
        <a class="header__link" href="#" (click)="onItemClick(i)" #nameRefs>
          {{ item.name }}
        </a>

        <div
          class="header__indicator"
          [ngClass]="{ 'header__indicator--visible': activeIndex === i }"
        ></div>
      </li>
      <li class="header__item header__item--right header__item--emphasis">
        <a class="header__link" href="#">
          {{ button.name }}
        </a>
      </li>
    </ul>
    <!--MOBILE MODE-->
    <ul class="header__list" *ngIf="isMobile">
      <li class="header__item header__item--left">
        <a class="header__link" href="">
          <img [src]="logo.src" [alt]="logo.alt" />
        </a>
      </li>
      <li class="header__item header__item--right">
        <!--TOGGLE BUTTON-->
        <ng-content select="app-toggle-button"></ng-content>
        <!--TOGGLE BUTTON-->
      </li>
    </ul>
    <!--DRAWER-->
    <ng-content select="app-drawer"></ng-content>
    <!--DRAWER-->
  </nav>
</header>
