// _buttons.scss
@mixin button($height: 54px, $padding: 0 32px, $font-size: 18px) {
  font-size: $font-size;
  height: $height;
  border: none;
  border-radius: 30px;
  padding: $padding;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  line-height: 18px;
}

@mixin button-variant(
  $bg-color,
  $text-color,
  $hover-bg,
  $active-bg,
  $font-weight: 500
) {
  background-color: $bg-color;
  color: $text-color;
  font-weight: $font-weight;

  &:hover {
    background-color: $hover-bg;
  }

  &:active {
    background-color: $active-bg;
  }
}
