@mixin fg($bg: white, $height: 40px, $radius: 24px, $max-width: 300px) {
  background-color: $bg;
  border-radius: $radius;
  height: $height;
  display: flex;
  flex-direction: row;
  max-width: $max-width;
  padding: 0;
  overflow: hidden;
}

@mixin fg-input($padding: 5px 5px 5px 20px) {
  background-color: transparent;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: $padding;
  box-sizing: border-box;
  border: none;
  outline: none;
}

@mixin fg-button($width: 150px, $bg-color: #076c68, $text-color: white) {
  background-color: $bg-color;
  color: $text-color;
  width: $width;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}
