<div class="member"
     role="button"
     tabindex="0"
     [class.is-active]="active"
     (click)="onClick($event)"
     (keydown.enter)="onClick($event)"
     (keydown.space)="onClick($event)"

>
  <img class="member__image" [src]="photo.src" [alt]="photo.alt" />

  <div class="member__overlay">
    <h4 class="member__name">{{ name }}</h4>
    <i class="fa-sharp-duotone fa-solid fa-chevron-up member__icon"></i>
    <div class="member__about">
      {{ about }}
    </div>
    <div class="member__networks">
      <div class="member__network" *ngFor="let network of networks"></div>
    </div>
  </div>
</div>
