.member {
  width: 280px;
  height: 370px;
  max-width: 300px;
  max-height: 370px;
  border-radius: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding: 16px;
  box-sizing: border-box;
  &__info {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 55px;
    width: 100%;
    gap: 7px;
    border-radius: 34px;
    background: white;
    opacity: 1;
    visibility: visible;
    padding: 12px 16px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    transition: height 0.3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    &:hover,
    &.expanded {
      height: 180px;
    }
  }
  &__arrow{
    transition: transform 0.3s ease;
  }
  &__info.expanded .member__arrow,
  &__info:hover .member__arrow {
    transform: rotate(180deg);
  }
  &__title {
    line-height: 18px;
    padding: 0;
    font-size: 18px;
    margin: 0;
    color: #076c68;
  }
  &__description {
    line-height: 16px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: rgba(255, 128, 85, 0.9);
    font-weight: 500;
  }
}
