.member {
  position: relative;
  width: 100%;
  height: 408px;
  border-radius: 24px;
  overflow: hidden;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  @media (max-width: 1400px) {
    width: 300px;
  }
  &.is-active {
    .member__overlay {
      height: 160px;
    }
    .member__icon {
      rotate: 180deg;
    }
  }
  @media (min-width: 1400px) and (hover: hover) and (pointer: fine) {
    &:hover {
      .member__overlay {
        height: 160px;
      }
      .member__icon {
        rotate: 180deg;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 16px;
    overflow: hidden;
    height: 34px;
    background-color: #ffffff;
    border-radius: 18px;
    padding: 14px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    transition: height 0.5s ease-in-out;
  }

  &__name {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #000000;
  }

  &__icon {
    text-align: center;
    font-size: 14px;
    color: #000000;
    transition: rotate 0.5s ease-in-out;
  }

  &__network {
    min-width: 28px;
    min-height: 28px;
    max-width: 28px;
    max-height: 28px;
    border-radius: 50%;
    border: 1px solid #ed794d;
    background-color: white;
  }

  &__networks {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  &__about {
    text-align: center;
    margin-bottom: 8px;
  }
}
