.member {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  padding: 0;
  box-sizing: border-box;
  transition: padding 0.6s;
  position: relative;
  cursor: pointer;
  &:hover {
    .member__info {
      width: calc(100% - 40px);
      height: 180px;
      border-radius: 18px;
    }
    .member__indicator {
      opacity: 0;
    }
  }
  &__info {
    background-color: white;
    position: absolute;
    width: 180px;
    text-align: center;
    height: 45px;
    gap: 13px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 30px;
    bottom: 20px;
    transition:
      width 0.7s ease-in-out,
      height 0.7s ease-in-out,
      overflow 0.7s ease-in-out,
      border-radius 0.7s ease-in-out;
  }
  &__line {
    min-height: 4px;
    max-height: 4px;
    width: 40px;
    border-radius: 30px;
    background-color: #ef7445;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.7;
    }
    50% {
      transform: scale(1.6);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  &__indicator {
    opacity: 1;
    background: white;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    right: 20px;
    transition: opacity 0.6s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: white;
      border-radius: 50%;
      z-index: 0;
      animation: pulse 2s infinite;
    }
    i {
      position: relative;
      z-index: 1;
      font-size: 17px;
      color: black;
    }
  }

  &__name {
    margin: 11px 0 0;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  &__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #1b655a;
  }
  &__networks {
    width: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__network {
    width: 28px;
    height: 28px;
    background: #1b655a;
    border-radius: 50%;
  }
  &__about {
    margin: 0;
    font-size: 15px;
    width: 200px;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
