<button
  class="toggle__toggle"
  [ngClass]="{ 'toggle__toggle--active': isDrawerActive }"
>
  <div
    class="toggle__line"
    [ngClass]="{
      'toggle__line--active': isDrawerActive,
      'toggle__line--w100': !isDrawerActive,
      'toggle__line--w50': isDrawerActive,
    }"
  ></div>
  <div
    class="toggle__line"
    [ngClass]="{
      'toggle__line--active': isDrawerActive,
      'toggle__line--w50': !isDrawerActive,
      'toggle__line--w100': isDrawerActive,
    }"
  ></div>
</button>
