.toggle {
  &__toggle {
    box-sizing: border-box;
    padding: 8px;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    background-color: #f0ebe5;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &--active {
      //background-color: #076c68;
    }

    &:focus {
      outline: none;
    }
  }

  &__line {
    border-radius: 8px;
    background-color: #076c68;
    height: 3px;
    transition:
      width 0.3s ease-in-out,
      background-color 0.3s ease-in-out;

    &--active {
      //background-color: white;
    }

    &--w100 {
      width: 100%;
    }

    &--w50 {
      width: 50%;
    }
  }
}
