@use '../../../styles/abstracts/containers' as containers;
@use '../../../styles/abstracts/buttons' as buttons;

.method {
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
margin-bottom: 100px;
  &__container {
    box-sizing: border-box;
    @include containers.container();
  }
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
  }
  &__label {
    margin: 0;
    color: #1d6a5f;
    border: 1px solid #1b655a;
    border-radius: 30px;
    padding: 0 18px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
  }
  &__title {
    margin: 0;
    font-size: 46px;
    line-height: 32px;
    font-weight: normal;
    @media (max-width: 375px) {
      font-size: 40px;
    }
    &--emphasis {
      color: #ef7445;
      font-weight: 600;
    }
  }
  &__paragraph{
    margin: 22px auto;
    max-width: 610px;
    padding: 0;
    font-size: 20px;
    text-align: center;
  }
  &__button {
    margin: 0 auto;
    text-decoration: none;
    box-sizing: border-box;
    @include buttons.button();

    &--primary {
      @include buttons.button-variant(
        $bg-color: #ef7445,
        $text-color: #ffffff,
        $hover-bg: #ef7445,
        $active-bg: #ef7445,
        $font-weight: 500
      );
    }
  }
}
