<section class="hero">
  <div class="hero__container" *ngIf="!isMobile">
    <button class="hero__nav-button">
      <img src="images/icons/arrow-left.svg" alt="" />
    </button>
    <div class="hero__carousel">
      <div class="hero__left">
        <h1 class="hero__title">
          Cuidar da mente pode transformar
          <span class="hero__emph-primary">uma vida</span>
        </h1>

        <p class="hero__paragraph">
          Psicologia centrada em você, para promover seu
          <span class="hero__emph-secondary">equilíbrio emocional</span> do
          jeito certo
        </p>

        <div class="hero__buttons">
          <button class="hero__button hero__button--primary">Conversar</button>
          <button class="hero__button hero__button--secondary">
            Como funciona?
          </button>
        </div>
      </div>
      <div class="hero__right">
        <img class="hero__image" src="images/hero/hero1.png" alt="" />
      </div>
      <div class="hero__indexes">
        <div class="hero__index hero__index--active"></div>
        <div class="hero__index"></div>
        <div class="hero__index"></div>
      </div>
    </div>
    <button class="hero__nav-button">
      <img src="images/icons/arrow-right.svg" alt="" />
    </button>
  </div>
</section>
