@use '../../../styles/abstracts/buttons' as buttons;
@use '../../../styles/abstracts/containers' as containers;

.hero {
  box-sizing: border-box;
  background-color: #fefbf9;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    @include containers.container();
  }
  &__carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: start;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 650px;
  }
  &__right {
    width: 400px;
    height: auto;
  }
  &__image {
    width: 100%;
    height: 100%;
  }
  &__title {
    margin: 0;
    padding: 0;
    font-size: 64px;
    font-weight: 600;
  }
  &__paragraph {
    margin: 0;
    font-size: 24px;
    padding: 0 0 0 10px;
    border-left: 4px solid #1d6a5f;
    font-weight: 420;
  }
  &__emph-secondary {
    color: #1d6a5f;
    font-weight: 550;
  }
  &__emph-primary {
    color: #ef7445;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 15px;
  }
  &__button {
    @include buttons.button();
    &--primary {
      @include buttons.button-variant(
        $bg-color: #ef7445,
        $text-color: #ffffff,
        $hover-bg: #ef7445,
        $active-bg: #ef7445,
        $font-weight: 500
      );
    }
    &--secondary {
      @include buttons.button-variant(
        $bg-color: #1b655a,
        $text-color: #ffffff,
        $hover-bg: #1b655a,
        $active-bg: #1b655a,
        $font-weight: 500
      );
    }
  }
  &__nav-button {
    @include buttons.button($height: 42px, $padding: 10px, $font-size: 16px);
    @include buttons.button-variant(
      $bg-color: #a5c3bf,
      $text-color: inherit,
      $hover-bg: #1b655a,
      $active-bg: #1b655a,
      $font-weight: 500,
      $border: none,
    );
    min-height: 42px;
    min-width: 42px;
    box-sizing: border-box;
    border-radius: 50%;
    img {
      width: 20px;
      height: 20px;
    }
  }
  &__indexes{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    display: flex;
    gap: 10px;
  }
  &__index{
    width: 26px;
    height: 8px;
    background-color: #a5c3bf;
    border-radius: 8px;
    &--active{
      background-color: #1b655a;
    }
  }
}
