@use 'abstracts/container' as container;

.drawer {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: -340px;
  z-index: 9;
  transition: transform 0.3s ease-in-out;

  &--open {
    transform: translateY(411px);
  }

  &__content {
    padding-top: 12px;
    width: 100%;
    box-sizing: border-box;
    @include container.container();
  }

  &__list {
    width: 100%;
    border-radius: 12px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #f9f9ff;
  }

  &__item {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 20px;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(40, 41, 67, 0.1);
    }
  }

  &__link {
    width: 100%;
    text-decoration: none;
    color: #1c3433;
    font-size: 18px;
    font-weight: 550;
    text-align: center;
  }
}
