@use 'abstracts/containers' as containers;

.drawer {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  z-index: 99;
  box-sizing: border-box;
  padding: 0;
  transition: top 0.3s ease-in-out;
  &.visible {
    top: 71px;
  }
  &__nav {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    @include containers.container();
  }
  &__list {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: white;
    border-radius: 8px;
  }
  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid #d8d3ce;
    }
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
  }
  &__link {
    color: #076c68;
    font-weight: 500;
    text-align: center;
    padding: 12px;
    margin: 0;
    text-decoration: none;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: transparent; /* Remove o efeito de destaque no toque */
    touch-action: manipulation; /* Melhora a resposta ao toque */
  }
}
