@font-face {
  font-family: 'DM Sans';
  src: url('../../public/fonts/DM_Sans/DMSans-Italic-VariableFont.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: italic;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../../public/fonts/DM_Sans/DMSans-VariableFont.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: normal;
}
body {
  position: relative;
  margin: 0;
  padding: 82px 0 0;
  background-color: white;
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


/* Lenis */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

/* Fallback SSR / no-JS */
app-root:not(.hydrated) [appRevealOnScroll] {
  opacity: 1;
  transform: none;
}
