@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

// Paleta de cores
$verde: #076c68;;
$laranja: #ff8055;;
$marrom-claro-1: #f8f4f0;
$marrom-claro-2: #f4eee9;

body {
  margin: 0;
  padding: 86px 0 0;
  //background-color: rgba(241, 233, 225, 0.35);
  background-color: #ffffff;
  font-family: 'DM Sans', sans-serif;
}
