@use 'abstracts/containers' as containers;
.services {
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 400px;
  box-sizing: border-box;
  background-color: #f4eee9;

  &__grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    justify-content: center;
    align-items: stretch;
    @include containers.container();
  }
}
