@use 'abstracts/containers' as containers;
@use 'abstracts/buttons' as buttons;

.services {
  min-height: 400px;
  box-sizing: border-box;

  &__container {
    box-sizing: border-box;
    @include containers.container();
  }
  &__header{
    border-left: 4px solid #1b655a;
    padding-left: 10px;
  }
  &__label {
    margin: 0 0 14px;
    padding: 0;
    color: #1d6a5f;
    font-size: 16px;
  }
  &__title {
    text-align: start;
    margin: 0;
    font-size: 46px;
    line-height: 32px;
    font-weight: normal;
    &--emphasis {
      color: #ef7445;
      font-weight: 600;
    }
  }
  &__grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 40px;
    row-gap: 50px;
    justify-content: center;
    align-items: stretch;
    margin-top: 70px;
    margin-bottom: 60px;
  }

  &__paragraph {
    margin: auto auto 20px;
    max-width: 610px;
    padding: 0;
    font-size: 20px;
    text-align: center;
  }
  &__button {
    &--primary {
      margin: auto;
      @include buttons.button();
      @include buttons.button-variant(
        $bg-color: #ef7445,
        $text-color: #ffffff,
        $hover-bg: #ef7445,
        $active-bg: #ef7445,
        $font-weight: 500
      );
    }
  }
}
