<section class="services">
  <div class="content-services">
    <div class="info-content">
      <h1 class="title-info">Nossos serviços</h1>
      <p class="description-info">
        Soluções personalizadas para apoiar seu bem-estar, equilíbrio emocional e qualidade de vida.
      </p>
      <button class="btn-info">Vamos conversar</button>
    </div>
    <div class="service-content-emphasis">
      <h2 class="title-service-emphasis">Psicoterapia Individual</h2>
      <p class="description-service-emphasis">
        Apoio psicológico para lidar com desafios emocionais e melhorar a qualidade de vida.
      </p>
      <button class="read-more-service-emphasis">Saiba mais</button>
    </div>
    <div class="service-content" *ngFor="let service of services">
      <h2 class="title-service">{{ service.title }}</h2>
      <p class="description-service">{{ service.description }}</p>
      <button class="read-more-service">Saiba mais</button>
    </div>
  </div>
</section>
