<section class="services">
  <div class="services__container">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h2 class="services__title">Nossos <span style="color: #ef7445; font-weight: 650">serviços</span></h2>
    </div>
    <div class="services__grid">
      <app-service
        *ngFor="let service of services"
        [title]="service.title"
        [description]="service.description"
        [subtitle]="service.subtitle"
        [vClasses]="service.vClasses"
      ></app-service>
    </div>
    <p class="services__paragraph">
      Soluções completas em saúde mental para promover bem-estar e
      desenvolvimento pessoal e profissional.
    </p>
    <button class="services__button">Vamos conversar</button>
  </div>
</section>
