<section class="services">
  <div class="services__container">
    <h2 class="services__title">
      Nossos <span class="services__title--emphasis">serviços</span>
    </h2>

    <div class="services__grid">
      <app-service
        *ngFor="let service of services"
        [title]="service.title"
        [description]="service.description"
        [subtitle]="service.subtitle"
        [vClasses]="service.vClasses"
      ></app-service>
    </div>
    <p class="services__paragraph">
      Soluções completas em saúde mental para promover bem-estar e
      desenvolvimento pessoal e profissional.
    </p>
    <button class="services__button">Vamos conversar</button>
  </div>
</section>
