@use 'abstracts/containers' as containers;
@use 'abstracts/buttons' as buttons;

.services {
  min-height: 400px;
  box-sizing: border-box;

  &__container {
    box-sizing: border-box;
    @include containers.container();
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__label {
    margin: 0 0 14px;
    padding: 0;
    color: #1d6a5f;
    font-size: 16px;
  }
  &__grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    justify-content: center;
    align-items: stretch;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  &__title {
    text-align: start;
    margin: 0;
    font-size: 46px;
    font-weight: normal;
    &--emphasis {
      color: #ef7445;
      font-weight: 600;
    }
  }
  &__paragraph {
    margin: auto auto 20px;
    max-width: 610px;
    padding: 0;
    font-size: 20px;
    text-align: center;
  }
  &__button {
    &--primary {
      margin: auto;
      @include buttons.button();
      @include buttons.button-variant(
        $bg-color: #ef7445,
        $text-color: #ffffff,
        $hover-bg: #d85b2c,
        $active-bg: #e66737,
        $font-weight: 500
      );
    }
    &--secondary {

      @include buttons.button(
        $height: 44px,
        $padding: 0 19px,
        $font-size: 16px
      );
      @include buttons.button-variant(
        $bg-color: #ffffff,
        $text-color: #ef7445,
        $hover-bg: #ef7445,
        $active-bg: #ef7445,
        $font-weight: 550,
        $border: 1px solid #ef7445,
      $hover-text-color: #ffffff
      );
    }
  }
}
