<app-header
  [button]="navButton"
  [logo]="navLogo"
  [items]="navItems"
  (navigateToSection)="scrollToSection($event)"
>
  <app-toggle-button
    [isDrawerActive]="isDrawerActive"
    (toggleDrawer)="onToggleDrawer()"
  ></app-toggle-button>
  <app-drawer
    [button]="navButton"
    [items]="navItems"
    [isOpen]="isDrawerActive"
  ></app-drawer>
</app-header>
<div
  (keydown.enter)="onToggleDrawer()"
  (keydown.space)="onToggleDrawer()"
  tabindex="0"
  role="button"
  aria-label="Fechar menu"
  class="drawer-backdrop"
  [class.drawer-backdrop--active]="isDrawerActive"
  (click)="onToggleDrawer()"
></div>
<main class="main">
  <app-hero></app-hero>
  <app-services></app-services>
  <app-team></app-team>
  <app-method></app-method>
  <app-spaces></app-spaces>
  <app-blog></app-blog>
  <app-contact></app-contact>
</main>
<app-floating-button></app-floating-button>
<app-footer></app-footer>
<router-outlet></router-outlet>
