<div class="drawer" [ngClass]="{ 'drawer--active': isOpen }">
  <ul class="drawer__list">
    <li
      *ngFor="let item of items"
      class="drawer__item"
      [ngClass]="item.vClasses"
    >
      <a
        class="drawer__link"
        href="#"
        (click)="$event.preventDefault(); onItemClick(item.name)"
      >
        {{ item.name }}
      </a>
    </li>

    <li class="drawer__item drawer__item--emphasis">
      <a
        class="drawer__link"
        href="#"
        (click)="$event.preventDefault(); onItemClick(button.name)"
      >
        {{ button.name }}
      </a>
    </li>
  </ul>
</div>
