@use '../../../styles/abstracts/containers' as containers;
@use '../../../styles/abstracts/buttons' as buttons;

.drawer {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 81px;
  transform: translateY(-100%);
  z-index: -1;
  transition: transform 0.3s ease-in-out;
  @include containers.container();
  &--active {
    transform: translateY(14px);
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    list-style: none;
    background-color: white;
    border-radius: 25px;
  }
  &__item {
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    &:not(:last-child, :first-child) {
      border-top: 1px solid #ede9e1;
      //border-radius: 30px;
    }
    padding-top: 5px;
    padding-bottom: 5px;
    &:first-child {
      padding-top: 0;
    }
    &--emphasis {
      box-sizing: border-box;
      @include buttons.button(
        $height: 40px,
        $padding: 0,
        $font-size: 16px,
        $width: 100%
      );
      @include buttons.button-variant(
        $bg-color: white,
        $text-color: #ef7445,
        $hover-bg: rgba(239, 116, 69, 0.08),
        $active-bg: rgba(239, 116, 69, 0.16),
        $font-weight: 500,
        $border: 1px solid #ef7445
      );

      .header__link {
        color: white;
      }
    }
  }
  &__link {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    outline: none;
  }
}
