@use '../../../styles/abstracts/containers' as containers;
@use '../../../styles/abstracts/buttons' as buttons;

.footer {
  &__container {
    box-sizing: border-box;
    height: 100%;
    @include containers.container();
  }
  &__content {
    box-sizing: border-box;
    background-color: #f8f7f6;
    border: 1px solid #f1f0ee;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;
    @media (max-width: 991px) {
      gap: 40px;
      padding: 30px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    &:nth-child(1) {
      margin-bottom: 36px;
    }
    @media (max-width: 991px) {
      &:nth-child(1) {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 0;
      }
    }
    @media (max-width: 991px) {
      &:nth-child(2) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
      }
    }
  }
  //Parte de Formulário:
  &__title {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 540;
  }
  &__newsletter {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__logo {
    margin-bottom: 30px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__input-group {
    display: flex;
    gap: 10px;
    @media (max-width: 435px) {
      flex-direction: column;
    }
  }
  &__copyright {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end;
    @media (max-width: 991px) {
      text-align: center;
    }
  }
  &__input {
    box-sizing: border-box;
    margin: 0;
    padding: 0 19px;
    height: 44px;
    border-radius: 30px;
    border: 1px solid #f4f2ee;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    background-color: #ffffff;
    font-size: 15px;
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: none;
      border-color: #f1af97;
    }
    &::placeholder {
      font-size: 16px;
    }
  }
  &__button {
    @include buttons.button($height: 44px, $padding: 0 19px, $font-size: 16px);
    @include buttons.button-variant(
      $bg-color: #ef7445,
      $text-color: #ffffff,
      $hover-bg: #ef7445,
      $active-bg: #ef7445,
      $font-weight: 500
    );
    @media (max-width: 435px) {
      width: 100%;
    }
  }
  //Parte de Navegação:
  &__menus {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 35px;
  }
  &__menu {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    outline: none;
    &:hover {
      .footer__link {
        color: #ef7445;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
  }
  &__networks {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    display: flex;
  }
  &__network {
    cursor: pointer;
    min-width: 42px;
    min-height: 42px;
    max-width: 42px;
    max-height: 42px;
    border-radius: 50%;
    border: 1px solid #e89473;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition:
      background-color 0.4s ease-in-out,
      transform 0.8s cubic-bezier(0.25, 1.5, 0.5, 1);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    outline: none;
    &-link {
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-icon {
      color: #ed794d;
      font-size: 18px;
    }
    &:hover {
      background-color: #ed794d;
      .footer__network-icon {
        color: #ffffff;
      }
    }
  }
}
