@use '../../../styles/abstracts/containers' as containers;
@use '../../../styles/abstracts/buttons' as buttons;

.contact {
  box-sizing: border-box;

  &__container {
    box-sizing: border-box;
    @include containers.container();
  }
  &__top {
    display: flex;
    gap: 40px;
  }
  &__bottom {
    overflow: hidden;
    border-radius: 30px;
    width: 100%;
  }
  &__left {
    width: 100%;
  }
  &__title {
    font-size: 32px;
    margin: 0 0 20px;
    color: #222;
  }

  &__description {
    font-size: 16px;
    color: #555;
    margin: 0 0 30px;
    line-height: 1.6;
  }
  &__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__icon {
    background-color: #fbf1ed;
    color: #ef7445;
    font-size: 24px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h3 {
      font-size: 17px;
      margin: 0;
      color: #222;
    }
    p {
      font-size: 15px;
      margin: 0;
      color: #555;
    }
  }
  &__right {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 30px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__button {
    margin: auto;
    @include buttons.button();
    @include buttons.button-variant(
      $bg-color: #ef7445,
      $text-color: #ffffff,
      $hover-bg: #ef7445,
      $active-bg: #ef7445,
      $font-weight: 500
    );
  }
}
