@use '../../../styles/abstracts/containers' as containers;
@use '../../../styles/abstracts/buttons' as buttons;

$color-primary: #ef7445; // Laranja
$color-secondary: #1d6a5f; // Verde
$color-bg: #ffffff; // Branco
$radius: 20px;

.contact {
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }

  color: #333;
  margin-bottom: 100px;
  &__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    @include containers.container();
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  &__label {
    margin: 0;
    color: #1d6a5f;
    border: 1px solid #1b655a;
    border-radius: 30px;
    padding: 0 18px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
  }
  &__title {
    margin: 0;
    font-size: 46px;
    line-height: 32px;
    font-weight: normal;
    &--emphasis {
      color: #ef7445;
      font-weight: 600;
    }
    @media (max-width: 375px) {
      font-size: 40px;
    }
  }

  &__section {
    display: flex;
    flex-direction: row;
    height: 450px;
    gap: 60px;
    @media (max-width: 992px) {
      flex-direction: column;
      height: auto;
      width: 100%;
    }
  }

  &__content {
    flex: 1;
    min-width: 0;
    //background: #ef7445;

    &-title {
      margin: 0 0 20px;
      font-size: 27px;
      line-height: 32px;
      font-weight: normal;
      @media (max-width: 992px) {
        text-align: center;
      }
    }
    &-desc {
      margin: 0 0 30px;
      font-size: 18px;
      max-width: 610px;
      @media (max-width: 992px) {
        text-align: center;
        max-width: 100%;
      }
    }
  }

  &__details {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__detail {
    display: flex;
    align-items: center;
    gap: 20px;

    &-icon {
      width: 55px;
      height: 55px;
      border-radius: 16px;
      background-color: #fbf1ed;
      border: 1px solid #f8d3c4;
      color: #ef7445;
      font-size: 24px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      box-sizing: border-box;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-title {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
    }

    &-desc {
      margin: 0;
      font-size: 14px;
      color: #555;
    }
  }

  &__facilities {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__facility {
    display: flex;
    align-items: center;
    gap: 12px;
    background: $color-bg;
    border-radius: $radius;
    transition: box-shadow 0.3s ease;

    &-icon {
      width: 55px;
      height: 55px;
      border-radius: 16px;
      background-color: #edfbf9;
      border: 1px solid #b9d5d2;
      color: #1b655a;
      font-size: 24px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      box-sizing: border-box;
    }

    &-title {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
    }
  }

  &__image {
    border-radius: $radius;
    background-color: #ddd;
    flex: 1;
    min-width: 0;
    height: 100%;
    object-fit: cover;
    &--mobile {
      display: none;
      @media (max-width: 992px) {
        display: block;
        width: 100%;
        margin-bottom: 45px;
      }
    }
    &--desktop {
      display: block;
      @media (max-width: 992px) {
        display: none;
      }
    }
  }

  &__map {
    border-radius: $radius;
    background-color: #ddd;
    flex: 1;
    min-width: 0;
    height: 100%;
    object-fit: cover;
    &--mobile {
      display: none;
      @media (max-width: 992px) {
        width: 100%;
        display: block;
        margin-bottom: 45px;
        height: 450px;
      }
    }
    &--desktop {
      display: block;
      @media (max-width: 992px) {
        display: none;
      }
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: #ececec;
    margin-bottom: 60px;
  }

  &__paragraph {
    margin: 0 auto;
    max-width: 610px;
    padding: 0;
    font-size: 20px;
    text-align: center;
  }

  &__button {
    &--primary {
      margin: 0 auto;
      @include buttons.button();
      @include buttons.button-variant(
        $bg-color: #ef7445,
        $text-color: #ffffff,
        $hover-bg: #ef7445,
        $active-bg: #ef7445,
        $font-weight: 500
      );
    }
  }
}
