<div class="contact">
  <div class="contact__container">
    <div class="contact__top">
      <div class="contact__left">
        <h2 class="contact__title">Sempre aqui para ajudar você</h2>
        <p class="contact__description">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomized words which don't look even slightly believable.
        </p>
        <div class="contact__details">
          <div class="contact__item">
            <i class="contact__icon fas fa-map-marker-alt"></i>
            <div class="contact__text">
              <h3>Endereço</h3>
              <p>R. Belo Horizonte, 1558 - Centro, Londrina - PR, 86020-061</p>
            </div>
          </div>
          <div class="contact__item">
            <i class="contact__icon fas fa-phone-alt"></i>
            <div class="contact__text">
              <h3>Contato</h3>
              <p>(43) 3337-7793</p>
            </div>
          </div>
          <div class="contact__item">
            <i class="contact__icon fas fa-envelope"></i>
            <div class="contact__text">
              <h3>E-mail</h3>
              <p>support{{ '@thefork.' }}com</p>
            </div>
          </div>
          <div class="contact__item">
            <i class="contact__icon fas fa-clock"></i>
            <div class="contact__text">
              <h3>Funcionamento</h3>
              <p>Segunda a Sexta: 08:00–21:00<br />Sábado: 08:00–14:00</p>
            </div>
          </div>
        </div>
      </div>
      <div class="contact__right">
        <img src="images/teste.png" alt="" />
      </div>
    </div>
    <div class="contact__bottom">

    </div>
  </div>
</div>
