@use '../../../styles/abstracts/containers' as containers;

.spaces {
  box-sizing: border-box;
  &__container {
    box-sizing: border-box;
    @include containers.container();
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  &__label {
    margin: 0;
    color: #1d6a5f;
    border: 1px solid #1b655a;
    border-radius: 30px;
    padding: 0 18px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
  }
  &__title {
    margin: 0;
    font-size: 46px;
    line-height: 32px;
    font-weight: normal;
    &--emphasis {
      color: #ef7445;
      font-weight: 600;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__paragraph {
    margin: 0;
    font-size: 20px;
    max-width: 630px;
    text-align: center;
  }
  &__masonry {
    display: flex;
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  &__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    // Column 1:
    &:nth-child(1) {
      .spaces__element:nth-child(1) {
        height: 560px;
      }
      .spaces__element:nth-child(2) {
        height: 370px;
      }
    }
    // Column 2:
    &:nth-child(2) {
      .spaces__element:nth-child(1) {
        height: 370px;
      }
      .spaces__element:nth-child(2) {
        height: 560px;
      }
    }
    // Column 3:
    &:nth-child(3) {
      .spaces__element:nth-child(1) {
        height: 560px;
      }
      .spaces__element:nth-child(2) {
        height: 370px;
      }
    }
  }
}
