@use '../../../styles/abstracts/containers' as containers;

.spaces {
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
  margin-bottom: 100px;
  @include containers.container();
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__label {
    margin: 0;
    color: #1d6a5f;
    border: 1px solid #1b655a;
    border-radius: 30px;
    padding: 0 18px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
  }

  &__title {
    margin: 0;
    font-size: 46px;
    font-weight: normal;
    line-height: 32px;

    &--emphasis {
      color: #ef7445;
      font-weight: 600;
    }

    @media (max-width: 375px) {
      font-size: 40px;
    }
  }

  /* ===== Layout visual ===== */

  &__layout {
    margin: 60px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }

  &__main-visual {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
  }

  &__side-visuals {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 900px) {
      flex-direction: row;
    }
  }

  /* ===== Placeholder de imagem ===== */

  &__image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #f7f7f5;
    border: 1px solid #f1f0ee;
  }

  &__image--main {
    height: 100%;

    @media (max-width: 900px) {
      height: 320px;
    }
  }

  &__image--side {
    height: 130px;

    @media (max-width: 900px) {
      height: 160px;
    }
  }

  /* ===== Texto final ===== */

  &__paragraph {
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 1.4;
  }
}
