@use '../../../styles/abstracts/containers' as containers;
@use '../../../styles/abstracts/buttons' as buttons;

.services {
  box-sizing: border-box;

  &__container {
    box-sizing: border-box;
    @include containers.container();
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  &__label {
    margin: 0;
    color: #1d6a5f;
    border: 1px solid #1b655a;
    border-radius: 30px;
    padding: 0 18px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
  }
  &__title {
    margin: 0;
    font-size: 46px;
    line-height: 32px;
    font-weight: normal;
    &--emphasis {
      color: #ef7445;
      font-weight: 600;
    }
  }
  &__grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    margin-top: 70px;
    margin-bottom: 60px;
  }

  &__paragraph {
    margin: auto auto 20px;
    max-width: 610px;
    padding: 0;
    font-size: 20px;
    text-align: center;
  }
  &__button {
    &--primary {
      margin: auto;
      @include buttons.button();
      @include buttons.button-variant(
        $bg-color: #ef7445,
        $text-color: #ffffff,
        $hover-bg: #ef7445,
        $active-bg: #ef7445,
        $font-weight: 500
      );
    }
  }
}
