@use '../../../styles/abstracts/containers' as containers;
@use '../../../styles/abstracts/buttons' as buttons;

.services {
  box-sizing: border-box;

  &__container {
    box-sizing: border-box;
    @include containers.container();
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  &__label {
    margin: 0;
    color: #1d6a5f;
    background-color: white;
    border: 1px solid #1b655a;
    border-radius: 30px;
    padding: 0 18px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
  }
  &__title {
    margin: 0;
    font-size: 46px;
    line-height: 32px;
    font-weight: normal;
    &--emphasis {
      color: #ef7445;
      font-weight: 600;
    }
    @media (max-width: 375px) {
      font-size: 40px;
    }
  }
  &__grid {
    margin-top: 60px;
    margin-bottom: 60px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: stretch;

    @media (max-width: 408px) {
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
    @media (max-width: 385px) {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    @media (max-width: 375px) {
      gap: 15px;
      grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    }
    @media (max-width: 370px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  &__paragraph {
    margin: auto auto 22px;
    max-width: 610px;
    padding: 0;
    font-size: 20px;
    text-align: center;
  }
  &__buttons{
    display: flex;
    margin: auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  &__button {
    &--primary {
      @include buttons.button();
      @include buttons.button-variant(
        $bg-color: #ef7445,
        $text-color: #ffffff,
        $hover-bg: #e87144,
        $active-bg: #e87144,
        $font-weight: 500,
        $border: 1px solid #ef7445
      );
    }
    &--primary-outline {
      @include buttons.button();
      @include buttons.button-variant(
        $bg-color: white,
        $text-color: #ef7445,
        $hover-bg: rgba(239, 116, 69, 0.08),
        $active-bg: rgba(239, 116, 69, 0.16),
        $font-weight: 500,
        $border: 1px solid #ef7445
      );
    }
  }
}
