<section class="services" id="services" appRevealOnScroll>
  <div class="services__container">
    <div class="services__header">
      <h3 class="services__label">SERVIÇO</h3>

      <h2 class="services__title">
        Nossos <span class="services__title--emphasis">Serviços</span>
      </h2>
    </div>

    <div class="services__grid">
      <app-service
        *ngFor="let service of services"
        [title]="service.title"
        [description]="service.description"
        [subtitle]="service.subtitle"
        [icon]="service.icon"
        [image]="service.image"
        [imageClass]="service.imageClass"
      ></app-service>
    </div>
    <p class="services__paragraph">
      Soluções completas em saúde mental para promover bem-estar,
      desenvolvimento pessoal e profissional.
    </p>
    <div class="services__buttons">
      <button class="services__button services__button--primary">
        Conversar
      </button>
      <button class="services__button services__button--primary-outline">
        Ver todos
      </button>
    </div>
  </div>
</section>
