<section class="services">
  <div class="services__container">
    <div class="services__header">
      <h3 class="services__label">SERVIÇO</h3>

      <h2 class="services__title">
        Nossos <span class="services__title--emphasis">Serviços</span>
      </h2>
    </div>

    <div class="services__grid">
      <app-service
        *ngFor="let service of services"
        [title]="service.title"
        [description]="service.description"
        [subtitle]="service.subtitle"
        [icon]="service.icon"
      ></app-service>
    </div>
    <p class="services__paragraph">
      Soluções completas em saúde mental para promover bem-estar e
      desenvolvimento pessoal e profissional.
    </p>
    <button class="services__button services__button--primary">
      Ver todos
    </button>
  </div>
</section>
