@use 'abstracts/containers' as containers;
@use 'abstracts/buttons' as buttons;
.place {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    box-sizing: border-box;
    @include containers.container();
  }
  &__title, &__subtitle, &__description {
    margin: 0;
    padding: 0;
    color: #076c68;
  }
  &__title{
    font-size: 36px;
  }
  &__subtitle, &__description {
    font-size: 18px;
  }
  &__header{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  &__button {
    @include buttons.button();
    &--primary {
      @include buttons.button-variant(
        $bg-color: #f58362,
        $text-color: white,
        $hover-bg: #ea7e5d,
        $active-bg: #e37a5a,
        $font-weight: 500
      );
    }
  }
}
