<section class="place">
  <div class="place__container">
    <h2 class="place__title">
      Nosso <span class="place__title--emphasis">espaço</span>
    </h2>
    <div class="place__gallery" [ngClass]="layoutClass">
      <div class="place__gallery__element" *ngFor="let image of images; let i = index">
        <img class="place__gallery__photo" [src]="image.src" [alt]="image.alt" />
      </div>
    </div>

    <p class="place__paragraph">
      Aqui, cada espaço foi planejado para acolher você com carinho e
      tranquilidade.
    </p>
    <button class="place__button">Vamos conversar</button>
  </div>
</section>
