<section class="place">
  <div class="place__container">
    <div>
      <h3 class="place__label">ESPAÇO</h3>
      <div class="place__header">
        <h2 class="place__title">
          Nosso <span class="place__title--emphasis">Espaço</span>
        </h2>
      </div>
    </div>
    <div class="place__content">
      <app-stepper [steps]="steps" orientation="vertical" lineSize="150px"></app-stepper>

      <!--      <div class="place__grid">-->
      <!--        <div class="place__grid-item" *ngFor="let image of images">-->
      <!--          <img class="place__grid-image" [src]="image.src" [alt]="image.alt" />-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
<div style="height: 150px;">

</div>
    <p class="place__paragraph">
      Nosso espaço foi pensado para oferecer uma experiência terapêutica com
      conforto, estrutura e profissionalismo.
    </p>

    <button class="place__button place__button--primary">
      Vamos conversar
    </button>
  </div>
</section>
