@use 'abstracts/containers' as containers;
@use 'abstracts/buttons' as buttons;

.place {
  min-height: 400px;
  box-sizing: border-box;

  &__container {
    box-sizing: border-box;
    @include containers.container();
  }
  &__label {
    margin: 0 0 14px;
    padding: 0;
    color: #1d6a5f;
    font-size: 16px;
  }
  &__title {
    text-align: start;
    margin: 0;
    font-size: 46px;
    font-weight: normal;
    &--emphasis {
      color: #ef7445;
      font-weight: 600;
    }
  }
  &__description {
    margin: auto auto 20px;
    max-width: 610px;
    padding: 0;
    font-size: 20px;
    text-align: center;
  }

  &__content {
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
  }

  &__grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    gap: 12px;


    &-item {
      width: 100%;
      background-size: cover;
      background-position: center;
      border-radius: 12px;

      &:nth-child(1) {
        grid-row: span 3;
        width: 300px;
        border-bottom-right-radius: 0;
      }
      &:nth-child(2) {
        width: 100px;
        height: 100px;
        border-bottom-left-radius: 0;
      }
      &:nth-child(3) {
        grid-row: span 2;
        width: 212px;
        height: 212px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &:nth-child(4) {
        width: 170px;
        height: 170px;
        justify-self: end;
        border-top-right-radius: 0;
      }
      &:nth-child(5) {
        width: 100px;
        height: 100px;
        border-top-left-radius: 0;
      }
    }
  }

  &__stepper {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
  }

  &__number {
    display: flex;
    justify-content: center;
    color: #1d6a5f;
    align-items: center;
    border: 2px solid #1d6a5f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &__subtitle {
    text-align: start;
    padding: 0;
    margin: 0;
    font-size: 20px;
  }

  &__description {
    text-align: start;
    font-size: 16px;
    padding: 0;
    margin: 0;
  }

  &__paragraph {
    max-width: 650px;
    padding: 0;
    margin: auto auto 30px;
    text-align: center;
    font-size: 20px;
  }

  &__button {
    &--primary {
      margin: auto;
      @include buttons.button();
      @include buttons.button-variant(
        $bg-color: #ef7445,
        $text-color: #ffffff,
        $hover-bg: #d85b2c,
        $active-bg: #e66737,
        $font-weight: 500
      );
    }
  }
}
