@use 'abstracts/containers' as containers;
@use 'abstracts/buttons' as buttons;

.team {
  background-color: #ebe4db;
  &__container {
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
    @include containers.container();
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  &__title {
    font-weight: 600;
    font-size: 46px;
    color: #076c68;
    margin: 0;
    padding: 0;
    @media (max-width: 1399px) {
      font-size: 36px;
    }
    @media (max-width: 991px) {
      font-size: 40px;
    }
    @media (max-width: 375px) {
      font-size: 36px;
    }
  }
  &__subtitle {
    color: #076c68;
    margin: 0 0 8px;
    padding: 0;
  }
  &__description {
    font-size: 18px;
    color: #076c68;
    padding: 0;
    margin: 0 0 15px;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  &__nav-button {
    border: none;
    padding: 0;
    background-color: transparent;
    width: 38px;
    height: 38px;
    cursor: pointer;
  }
  &__nav-icon {
    width: 38px;
    height: 38px;
  }
  &__body {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 55px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  &__button {
    @include buttons.button();
    &--primary {
      @include buttons.button-variant(#ff8055, white, #d95e42, #c8523a);
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
