@use 'abstracts/containers' as containers;
@use 'abstracts/buttons' as buttons;

.team {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900px;

  &__container {
    box-sizing: border-box;
    @include containers.container();
  }

  &__carousel {
    display: flex;
    gap: 20px;
    align-items: stretch;
  }

  &__member {
    background: white;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 460px;
    &:not(:nth-child(1)) {
      & .team__member-info {
        display: none;
        backdrop-filter: blur(4px);
      }
    }
    &:nth-child(1) {
      flex-direction: row;
      width: 60%;
      min-height: auto;
      padding: 40px;
      box-sizing: border-box;
    }

    &-content {
      flex: 1;
      border-radius: 24px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }

    &-info {
      width: 100%;
      height: 100%;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: end;
      align-items: start;
    }
    &-title {
      font-size: 44px;
      font-weight: 400;
      margin: 0 0 10px;
    }
    &-description {
      font-size: 16px;
      color: #666;
    }
    &-networks {
      display: flex;
      gap: 10px;
      margin: 0 0 20px;
    }
    &-network {
      width: 38px;
      height: 38px;
      background-color: #1b655a;
      border-radius: 50%;
    }
    &-button {
      box-sizing: border-box;
      padding-top: 8px;
      padding-bottom: 8px;
      text-decoration: none;
      color: inherit;

      @include buttons.button(
        $height: 44px,
        $padding: 0 19px,
        $font-size: 16px
      );
      @include buttons.button-variant(
        $bg-color: #ef7445,
        $text-color: #ffffff,
        $hover-bg: #ef7445,
        $active-bg: #ef7445,
        $font-weight: 500
      );
    }
  }
}
