.post {
  background-color: #ffffff;
  flex: 1;
  min-width: 0;
  border-radius: 20px;
  padding: 16px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  &:hover {
    background-color: #fae7df;

    .post__image {
      transform: scale(1.05);
    }
    .post__title {
      color: #000000;
    }

    .post__description {
      color: #3c3e41;
    }

    .post__author-name {
      color: #000000;
    }
  }

  &__image-container {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
    transition: transform 0.3s ease;
  }

  &__text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 16px;
    font-size: 14px;
    color: #333;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__title {
    font-size: 20px;
    font-weight: 420;
    margin: 10px 0;
    color: #414141;
    transition: color 0.3s ease;
  }

  &__description {
    font-size: 16px;
    max-width: 550px;
    font-weight: 300;
    margin: 0 0 10px;
    color: #717171;
    transition: color 0.3s ease;
  }

  &__author {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-top: 8px;
  }

  &__author-avatar {
    min-width: 44px;
    min-height: 44px;
    max-width: 44px;
    max-height: 44px;
    border-radius: 50%;
    background-color: #97979a;
    flex-shrink: 0;
  }

  &__author-image {
    width: 100%;
    height: 100%;
  }

  &__author-info {
    display: flex;
    flex-direction: column;
    height: 44px;
    justify-content: space-evenly;
    align-items: start;
  }

  &__author-name {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #424242;
    transition: color 0.3s ease;
  }

  &__author-meta {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #717171;
    font-weight: 400;
  }

  &__author-separator {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #716f6f;
  }
}
