@use '../../../../styles/abstracts/containers' as containers;
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.floating-button {
  pointer-events: none; // não intercepta cliques
  z-index: 1;
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-decoration: none;
  &__container {
    box-sizing: border-box;
    @include containers.container();
  }
  &__link {
    pointer-events: auto; // intercepta apenas no botão
    padding: 0;
    text-decoration: none;
    margin: 0 0 0 auto;
    position: relative;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #25d366;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #25d366;
      border-radius: 50%;
      z-index: 0;
      animation: pulse 2s infinite;
    }

  }
  &__icon {
    position: relative;
    z-index: 1;
    font-size: 30px;
    color: white;
  }
}
