<section class="team" id="team" appRevealOnScroll>
  <div class="team__container">
    <div class="team__header">
      <h3 class="team__label">EQUIPE</h3>
      <h2 class="team__title">
        Nossa <span class="team__title--emphasis">Equipe</span>
      </h2>
    </div>

    <div class="team__controls">
      <button class="team__control-button" (click)="scrollLeft()">
        <i class="fa-solid fa-angle-left team__control-icon"></i>
      </button>

      <button class="team__control-button" (click)="scrollRight()">
        <i class="fa-solid fa-angle-right team__control-icon"></i>
      </button>
    </div>

    <div class="team__carousel-container">
      <div
        class="team__carousel"
        #carousel
        (pointerdown)="onPointerDown($event)"
        (pointermove)="onPointerMove($event)"
        (pointerup)="onPointerUp($event)"
        (pointercancel)="onPointerCancel($event)"
      >
        <app-member
          *ngFor="let member of team; let i = index"
          [name]="member.name"
          [about]="member.about"
          [photo]="member.photo"
          [networks]="member.networks"
          [active]="activeMemberIndex === i"
          (activate)="setActiveMember(i)"
        ></app-member>
      </div>
    </div>

    <p class="team__paragraph">
      Profissionais qualificados, acolhedores e comprometidos com seu bem-estar
      emocional. Aqui, você encontra escuta, cuidado e suporte personalizado.
    </p>
  </div>
</section>
